
<ion-content>
  <main>
    <h1>Ciclo del mosquito</h1>
    <p>
      El mosquito Aedes aegypti es una especie de mosquito que ha sido identificado como el principal vector del virus del dengue. Esta enfermedad viral es una de las enfermedades transmitidas por mosquitos más importantes y prevalentes en todo el mundo, afectando a millones de personas cada año.
    <br>
    A continuación, te presentamos las fases del mosquito del dengue:


    </p>
<div class="conteizq">

    <model-viewer src="/assets/mosquito/huevesillo3.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>

    <div>
        <h2>Huevo</h2>
        <p>El huevo del mosquito Aedes aegypti es uno de los cuatro estadios en su ciclo de vida. Las hembras adultas ponen sus huevos en recipientes con agua estancada, como floreros, baldes, llantas viejas, canaletas, entre otros objetos que puedan contener agua. Estos recipientes son comunes en áreas urbanas y suburbanas donde se acumula agua sin ser removida periódicamente.

          Los huevos son de color negro y miden alrededor de medio milímetro de largo. Una hembra puede depositar hasta 200 huevos en un solo recipiente, y puede poner huevos varias veces a lo largo de su vida, que suele durar alrededor de un mes.
          
          Los huevos eclosionan después de unos 2 a 3 días, dependiendo de la temperatura del ambiente. Si las condiciones son favorables, los huevos pueden eclosionar incluso en menos de 24 horas. La eclosión del huevo libera la larva del mosquito, que es la siguiente fase en su ciclo de vida.</p>
    </div>

</div>
<div class="conteder">

    <div>
        <h2>Larva</h2>
        <p>La larva del mosquito del dengue es la segunda fase de su ciclo de vida, después de la eclosión del huevo. La larva es acuática y vive en el agua, alimentándose de microorganismos y materia orgánica presentes en el agua. La larva del mosquito Aedes aegypti es fácilmente reconocible por su cuerpo delgado y alargado, con una cabeza bien definida y una serie de pelos en su parte posterior que la ayudan a respirar.

          La larva crece rápidamente y necesita mudar su piel varias veces para poder continuar su desarrollo. Durante este proceso, la larva se coloca en posición vertical en el agua y se desprende de su piel antigua, emergiendo como una nueva larva más grande. La muda de piel es un proceso importante para el desarrollo de la larva, ya que le permite crecer y madurar antes de convertirse en pupa.
          
          Las larvas del mosquito Aedes aegypti son particularmente adaptadas a vivir en recipientes con agua estancada, como pueden ser los que se encuentran en patios, jardines, parques, y otros espacios urbanos. Es importante destacar que eliminar estos recipientes es una medida efectiva para controlar la población de mosquitos y prevenir la transmisión del virus del dengue.</p>
    </div>

    <model-viewer src="/assets/mosquito/larva mosquito trabajo.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>



</div>
<div class="conteder">

    <model-viewer src="/assets/mosquito/pupa2.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>

    <div>
        <h2>Pupa </h2>
        <p>Por supuesto. La pupa es la tercera fase del ciclo de vida del mosquito del dengue y es una etapa crucial en su desarrollo. Durante este periodo, el mosquito se transforma en su forma adulta dentro de la envoltura protectora de la pupa. Es en esta etapa donde el mosquito adquiere sus alas y patas, que le permitirán volar y alimentarse de sangre.

          La fase de pupa es relativamente corta y dura alrededor de dos días antes de que el mosquito adulto emerja de la envoltura. Una vez que el mosquito adulto sale de la pupa, se encuentra listo para alimentarse de sangre y reproducirse. El ciclo completo de vida del mosquito del dengue, desde el huevo hasta el mosquito adulto, puede durar de 7 a 10 días, dependiendo de las condiciones ambientales como la temperatura y la disponibilidad de agua. Es por eso que es fundamental implementar medidas preventivas para controlar la población de mosquitos y prevenir la propagación del virus del dengue.</p>
    </div>

</div>

<div class="conteder">

  <div style="margin-left: 20px;">
      <h2>Larva</h2>
      <p>El mosquito del dengue es una especie que presenta dimorfismo sexual, es decir, existen diferencias notables entre el macho y la hembra. Mientras que los machos se alimentan únicamente de néctar y no transmiten la enfermedad, las hembras requieren de sangre para poder producir huevos y son las responsables de la transmisión del virus del dengue</p>
  </div>

  <div style="margin-left: 20px;">
    <h2>Mosquito Hembra</h2>
  <model-viewer src="/assets/mosquito/mosquitoH.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
  </div>
  <div style="margin-left: 20px;">
    <h2>Mosquito Macho</h2>
  <model-viewer src="/assets/mosquito/mosquitoMacho.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
</div>


</div>


</main>
<div class="espacio"></div>

</ion-content>
