
<ion-content>
    <main>
      <h1>Virus del Dengue</h1>
      <p>
        El virus del dengue tiene varias proteínas esenciales para su ciclo de vida, incluyendo la proteína de envoltura (E), la proteína de membrana (M), la proteína no estructural 1 (NS1) y varias proteínas no estructurales (NS2A, NS2B, NS3 y NS4A/B). Estas proteínas desempeñan diferentes roles en la entrada del virus en la célula huésped, la replicación del material genético viral, la síntesis de proteínas virales y la maduración de los viriones. Comprender las proteínas del virus del dengue es crucial para el desarrollo de tratamientos antivirales y vacunas efectivas para prevenir y tratar la infección.
        <br>
        A continuación, te mostramos una increíble colección de modelos 3D del virus del dengue. Estos modelos te permiten explorar el virus en detalle, desde su estructura hasta la disposición de las proteínas que lo componen. Además, los modelos 3D son una herramienta importante para comprender cómo el virus interactúa con las células huésped y cómo los tratamientos antivirales pueden interrumpir su ciclo de vida. Ya sea que estés interesado en la investigación científica o simplemente quieras aprender más sobre el virus del dengue, estos modelos 3D son una excelente manera de explorar el mundo microscópico del virus. ¡No dudes en sumergirte en esta fascinante colección de modelos 3D del virus del dengue!
    </p>
  <div class="conteder">
  
      <model-viewer src="/assets/virus/virusdenguexterno.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
  
      <div>
          <h2>Proteína E (proteína de envoltura) </h2>
          <p>Reconoce y se une a los receptores celulares de las células huésped, lo que permite la entrada del virus. También es un importante antígeno viral que desencadena una respuesta inmunológica.</p>
          <div class="pequeño">
            <div >
                <h1>Proteinas</h1>
                <model-viewer src="/assets/virus/yupiamarillo.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
          
            </div>
            <div>
                <h1> de </h1>
                <model-viewer src="/assets/virus/Morado.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
          
            </div>
            <div>
                <h1>envoltura</h1>
                <model-viewer src="/assets/virus/rojo.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
          
            </div>
         </div>
        </div>
  
  </div>
  <div class="conteizq">
    <model-viewer src="/assets/virus/virus_D_2.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
          
      <div>
          <h2>Proteína M (membrana)</h2>
          <p>
            Forma parte de la estructura de la envoltura viral y es esencial para la formación y maduración de los viriones dentro de las células infectadas. También está involucrada en la respuesta inmunitaria del huésped infectado.
           
        </p>
      </div>
  
      
  
  
  </div>
  <div class="conteder">
  
    
      <div>
          <h2> Proteína C (Nucleocápside)</h2>
          <p>
            Es la proteína que encapsula el material genético del virus. 
            También es importante para la maduración de los viriones.
        </p>
      </div>
      <model-viewer src="/assets/virus/capa roja.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>
  
  
  </div>
  <div class="conteizq">
  
    <model-viewer src="/assets/virus/mosquitoH.glb" ar ar-modes="webxr scene-viewer quick-look" camera-controls poster="poster.webp" shadow-intensity="1" autoplay></model-viewer>

    <div>
        <h2>Material genetico</h2>
        <p>
        ARN Material genetico de cadena simple y polaridad positiva 
        </p>
    </div>
    

</div>
  </main>
  <div class="espacio"></div>
  
  </ion-content>
  