


<ion-content class="all scroll-wrapper">
  <perfect-scrollbar>
    <div class="title">
      <h1>DENGUE</h1>
    </div>
  <div class="al">
    <div class="container color2">
      <div class="info">
        <h5>¿QUÉ ES EL DENGUE?</h5>
        <ul>
          <li>Es una enfermedad  viral que puede afectar a personas de cualquier edad, especialmente niños y adultos mayores
          </li>
          <li>Transmitida por la picadura de un mosquito (Aedes aegypti)</li>
          <li>Generalmente ocurre es zonas tropicales o subtropicales</li>
        </ul>
      </div>
      <div class="image mosquito" >
        <img src="/assets/image/Zancudo1.png" alt="">
      </div>


    </div>
    <div class="al">
    <div class="container color1">
      <div class="image">
      
          <img style="width: 150px;" src="/assets/image/transmision.png" alt="">
    
      </div>
      <div class="info">
        <h5>Transmisión</h5>
        <p>La hembra del mosquito vive aproximadamente 1 semana,
          se infecta al consumir la sangre durante la fase
          febril y vírica de la enfermedad. El virus afecta
          primero las células del intestino medio y se disemina
          para replicarse en los tejidos del mosquito, llegando
          a las glándulas salivales</p>
      </div>
    </div>
    

    </div>
    <div class="container color3">
      <div class="info">
        <h5>Signos y sintomas</h5>
        <p>Es posible que cuando se
          presenten los síntomas puedan
          ser confundidos con gripe y
          suelen comenzar de 4 a 10 días
          después de la picadura de un
          mosquito infectado</p>
      </div>
      <div class="image">
        <img style="width: 150px;" src="/assets/image/sintomas.png" alt="">
      </div>
    </div>
    <div class="container color4"><div class="image">

    </div>
    <div class="info">
      <h5>Prevención</h5>
      <ul>
        <li>Cambiar frecuentemente el agua de
          bebederos y floreros. </li>
        <li>Tapar los recipientes con agua, eliminar la
          basura acumulada en patios y áreas al aire
          libre, eliminar llantas o almacenamiento en
          sitios cerrados.</li>
        <li>Utilizar repelentes en las áreas del cuerpo
          que están descubiertas.</li>
        <li>Usar mosquiteros o toldillos, sobre todo con
          pacientes enfermos para evitar que infecten
          nuevos mosquitos o en los lugares donde
          duermen los niños.</li>
        <li>Lavar y cepillar tanques y albercas</li>
        <li>Usar camisas de manga larga y pantalones
          largos</li>
      </ul>
    </div></div>
    <div class="container color5">
      <div class="info">
        <h5>Fuentes</h5>
        <ul>
          <li><a href="https://www.cdc.gov/mosquitoes/es/about/life-cycles/aedes.html">cdc</a></li>
          <li><a href="https://www.dge.gob.pe/portalnuevo/vigilancia-epidemiologica/como-
            prevenir-el-dengue/">dge</a></li>
          <li><a href="https://www.minsalud.gov.co/salud/publica/PET/Paginas/dengue.aspx#:~:
            text=Para%20esto%20se%20debe%3A,del%20cuerpo%20que%20est%C3%
            A1n%20descubiertas">minsalud</a></li>
          <li><a href="https://www.mayoclinic.org/es-es/diseases-conditions/dengue-
            fever/symptoms-causes/syc-20353078">mayoclinic</a></li>
        </ul>


      </div>
      <div class="image">

      </div>

  </div>
  <div class="espacio"></div>
  </div>
</perfect-scrollbar>
</ion-content>
