<ion-tabs animated="false">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="list"></ion-icon>
      Infograma
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="home-outline"></ion-icon>
      Lugares
    </ion-tab-button>
    <!-- <ion-tab-button tab="ra"> 
      <ion-icon name="game-controller-outline"></ion-icon>
      RA
    </ion-tab-button>-->
    <ion-tab-button tab="ciclo">
      <ion-icon name="sync-outline"></ion-icon>
      Ciclo
    </ion-tab-button>
    <ion-tab-button tab="fases">
      <ion-icon name="git-compare-outline"></ion-icon>
      Fases
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
